body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
}

/* Linke Sidebar (Unverändert) */
.left-navbar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #343a40;
    padding-top: 20px;
    z-index: 1;
}

.left-navbar .nav-link {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    transition: all 0.3s;
}

.left-navbar .nav-link:hover,
.left-navbar .nav-link.active {
    background-color: #4e5560;
}

/* Hauptinhalt */
.main-content {
    margin-left: 220px;
    padding: 40px;
    text-align: center;
    
}

.page-title {
    font-size: 2rem;
    color: #4e4e4e;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 19%;
}

.sub-title {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 30px;
    margin-right: 17%;
}


/* Buttons */
.custom-button {
    background: linear-gradient(135deg, #866a67, #786765);
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
    background: linear-gradient(135deg, #786765, #5a4f4b);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

/* Testauswahl */
.test-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-right: 17%;
}

.test-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.test-card i {
    font-size: 40px;
    color: #866a67;
    margin-bottom: 15px;
}

.test-card h3 {
    font-size: 20px;
    font-weight: bold;
}

.test-card:hover {
    transform: translateY(-5px);
}

/* Info-Box */
.info-box {
    background: #fdfdfd;
    margin-top: 40px; /* Abstand von den Testkarten */
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 17%;
}

/* Nutzerstatistiken */
.stats-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-right: 17%;
}

.stat-box {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 180px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.stat-box i {
    font-size: 30px;
    color: #866a67;
}

.stat-box h3 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.stat-box:hover {
    transform: translateY(-5px);
}



